/*--------------------------------------------------------------
		Services page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#14.0	all-services
--------------------------------------------------------------*/
.all-services .services-gird .grid {
  width: 33.33%;
  float: left;
  padding: 0 15px 30px; }
