/*--------------------------------------------------------------
	Shop page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#12.0	shop-right-sidebar
--------------------------------------------------------------*/
.shop-right-sidebar {
	.pagi {
		clear: both;
		float: none;
		padding-left: 10px;
		padding-top: 35px;

		@include media-query(991px) {
			padding-top: 25px;
		}
	}
}