/*--------------------------------------------------------------
	Testimonials pages
----------------------------------------------------------------*/
/*--------------------------------------------------------------
#8.0 	testimonials-pg-s1
----------------------------------------------------------------*/
.testimonials-pg-s1 {
	padding: 100px 0 30px;

	.testimonials-grids > .grid {
		margin-bottom: 70px;

		@include media-query(767px) {
			margin-bottom: 50px;
		}
	}
}